* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #A100004D;
    font-family: Open-Sans, sans-serif;
}

h1,
h2 {
    font-weight: 700;
}

h2 {
    font-size: 24px;
}

#recipe-page {
    background-color: #FCFCFC;
    width: 1280px;
    margin: auto;
    margin-bottom: 64px;
}

.recipe-header {
    overflow: hidden;
    border: 1px #FCFCFC solid;

}

.recipe-header img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.title {
    color: #A10000;
    font-size: 28px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 48px;
}

.description {
    background-color: #EBEBEB;
    padding: 16px;
}

.ingredients,
.steps {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ingredients ul,
.steps ol {
    padding-left: 22px;
}

.ingredients ul li,
.steps ol li {
    margin-bottom: 16px;
}

.ingredients ul li::marker {
    font-size: 12px;
}

.serving-suggestion {
    display: grid;
    gap: 16px;
}

.serving1 {
    grid-column-start: 1;
}

.serving2 {
    grid-column-start: 2;
}

.serving-suggestion img {
    width: 580px;
    min-width: 300px;
    object-fit: cover;
    height: 467px;
}

@media (max-width: 1280px) {
    #recipe-page {
        width: 100%;
    }

    .content {
        padding: 48px 16px 64px 16px;
    }

    .serving1 {
        grid-column-start: 1;
        grid-row-start: 2;

    }

    .serving2 {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .serving-suggestion img {
        width: 100%;
    }


   

}